<div class="flex lg:flex-row sm:flex-col md:flex-col">
<div class="bg-red-400 flex-1 h-screen">

</div>
<div class="flex flex-1 justify-center items-center">
    <div class="flex flex-col bg-blue-100 w-80 h-80 justify-center items-center">
        <form class="flex flex-col bg-blue-100 w-80 h-80 justify-center items-center" [formGroup]="userForm">
        <label class="-ml-44" for="UserName"> Username:</label>
        <input formControlName="username" class="w-64 mb-4" type="text" name="UserName"/>
        <label class="-ml-44" for="UserName"> Password:</label>
        <input formControlName="password"class="w-64 mb-4" type="password" name="password"/>
        <button class="bg-green-200 w-20 mb-5" (click)="login()">Sign in</button>
        <span *ngIf="invalidCreds" class="text-red-500">Please enter valid credentials </span>

    </form>
    </div>
</div>

</div>