<div class="w-100 h-16 bg-red-400 items-center">
<ul class="flex h-16 justify-around items-center">
    <li class="h-auto w-auto bg-blue-100 cursor-pointer shadow-lg p-2" routerLink="/home/pipes" routerLinkActive="bg-blue-400 text-white">Pipes</li>
    <li class="h-auto w-auto bg-blue-100 cursor-pointer shadow-lg p-2" routerLink="/home/sdirective" routerLinkActive="bg-blue-400 text-white">Structural Directive</li>
    <li class="h-auto w-auto bg-blue-100 cursor-pointer shadow-lg p-2" routerLink="/home/adirective" routerLinkActive="bg-blue-400 text-white">Atribute Directive</li>
    <li class="h-auto w-auto bg-blue-100 cursor-pointer shadow-lg p-2" routerLink="/home/interceptor" routerLinkActive="bg-blue-400 text-white">Inerceptor</li>
    <li class="h-auto w-auto bg-blue-100 cursor-pointer shadow-lg p-2" routerLink="/home/guards" routerLinkActive="bg-blue-400 text-white">Guards</li>
    <li class="h-auto w-auto bg-blue-100 cursor-pointer shadow-lg p-2" routerLink="/home/forms" routerLinkActive="bg-blue-400 text-white">Forms</li>
    <li class="h-auto w-auto bg-blue-100 cursor-pointer shadow-lg p-2" routerLink="/home/lazyloading" routerLinkActive="bg-blue-400 text-white">Lazy Loading</li>
</ul>
</div>
<router-outlet></router-outlet>





